@{
    ViewData["Title"] = "Otamix";
}

<div class="text-center">

    <img src="~/adesivo-parede-floral-arabesco-simulacao_1_zpsnfaqlbft.png" />
    <h1 class="display-4" style="color:black;">Otamix</h1>
    <img src="~/thumb2-hatsune-miku-blue-hair-street-manga-art.jpg" width="800" height="400" ; />

    <ul>
        <li>
            Explore mais o mundo dos Animes:
            <a href="url">https://otakubfx.com.br/melhores-blogs-de-animes-mangas-e-otaku/</a>
        </li>
    </ul>
    <img src="~/adesivo-parede-floral-arabesco-simulacao_1_zpsnfaqlbft (2).png" />

    <p></p>

    <div style="text-align:center;">
        <h3 class="display-4" style="color:black;">Ajin 2*</h3>
        <img class="alignleft" src="https://sinopsedeanimes.files.wordpress.com/2016/08/53c78-ajin0e12.jpg?w=924" /><div class="entry-meta">
            <span class="cat-links">
                <a href="https://sinopsedeanimes.wordpress.com/category/acao/" rel="category tag">ação</a>,
                <a href="https://sinopsedeanimes.wordpress.com/category/anime/" rel="category tag">anime</a>,
                <a href="https://sinopsedeanimes.wordpress.com/category/sobrenatural/" rel="category tag">sobrenatural</a>
            </span>
        </div> <div style="text-align:left;">
            <a href="https://sinopsedeanimes.wordpress.com/2016/08/20/ajin-2/#respond">Deixe um comentário</a>
        </div>

        <b>Sinopse:&nbsp;</b>
        Segunda temporada de <em><strong>Ajin. Ajin</strong></em> são seres humanos que não podem morrer.
        Dezessete anos atrás, eles apareceram pela primeira vez e a partir de então mais da sua espécie foram descobertos na sociedade humana.
        A vida do protagonista muda radicalmente depois de um acidente, no qual ele descobre ser um desses seres sobrenaturais e começa a
        ser caçado&nbsp;pelo governo para fins&nbsp;experimentais com seu corpo.
        <br />
        <div style="text-align:center;">
            <h3 class="display-4" style="color:black;">Nanbaka</h3>
            <img class="alignleft" src="https://sinopsedeanimes.files.wordpress.com/2016/08/89ce1-76364l.jpg?w=924" /><div class="entry-meta">
                <span class="cat-links">
                    <a href="https://sinopsedeanimes.wordpress.com/category/acao/" rel="category tag">ação</a>,
                    <a href="https://sinopsedeanimes.wordpress.com/category/anime/" rel="category tag">anime</a>,
                     <a href="https://sinopsedeanimes.wordpress.com/category/drama/" rel="category tag">Drama</a>,
                    <a href="https://sinopsedeanimes.wordpress.com/category/comedia/" rel="category tag">Comédia</a>
                </span>
            </div> <div style="text-align:left;">
                <a href="https://sinopsedeanimes.wordpress.com/2016/08/20/nanbaka/#respond">Deixe um comentário</a>
            </div>

            <b>Sinopse:&nbsp;</b>
            A história acompanha o dia a dia de 4 prisioneiros, que apesar de sua situação tentam se divertir sempre que podem.
            Mas as coisas mudam quando um deles descobre coisas sobre seu passado que não lembrava.
            <br />
            <b>Estúdio:&nbsp;</b>
             Satelight (Macross Frontier, Symphogear)
            <br />
            <b>Diretor&nbsp;</b>
             Shinji Takamatsu (Sakamoto Desu ga, Danshi Nishijou)
            
            

        </div>
       





